		/*初始化*/
		* {
			margin: 0;
			padding: 0;
			font-family: "微软雅黑";
		}
		a {
			text-decoration: none;
		}
		ul {
			list-style: none;
		}
		input {
			border: 0;
		}
		body {
			background-color: #f3f5f7;
			/*height: 3000px;*/
		}
		.container {
			width: 1200px;
			margin: 0 auto;
		}
		.clearfix:before,
		.clearfix:after {
			display: table;
			content: "";
		}
		.clearfix:after {
			clear: both;
		}
		.clearfix {
			*zoom: 1;
		}
		
		/*头部*/
		header {
			width: 100%;
			height: 60px;
			line-height: 60px;
			background-color: rgba(0, 0, 0, 0.3);
			color: #fff;
			float: left;
			position: fixed;
		}
		nav {
			width: 1200px;
			margin: 0 auto;
			font-size: 18px;
			font-weight: 800;
		}
		nav a {
			color: #FFF;
		}
		nav a:hover {
			color: #ecefe7;
		}
		.logo a {
			height: 60px;
			padding: 0 10px;
			float: left;
		}
		.navbar {
			float: right;
		}
		.navbar li {
			float: left;
			padding: 0 20px;
		}
		
		/*banner部分*/
		.banner {
			height: 700px;
			line-height: 520px;
			background-color: rgb(182, 194, 154);
		}
		.banner h1 {
			width: 100px;
			color: #FFF;
			font-size: 50px;
			margin: 0 auto;
		}
		
		/*main部分*/
		.main li{
			height: 120px;
			background-color: #FFF;
			margin-top: 50px;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
			padding-top: 1px;/*解决嵌套元素外边距合并问题*/
		}
		.main li h2,
		.main li p,
		.main li span {
			width: 1000px;
			margin: 14px auto;
			margin-bottom: -2px;
		}
		.main a {
			color: black;
		}
		.main a:hover {
			/*color: #758293;*/
			color: #3b5166;
		}
		.main li h2 {
			margin-bottom: -4px;
		}
		.main li p {
			margin-top: 16px;
			color: #bdbdbd;
		}
		.main li span {
			display: block;
			margin-top: 10px;
			font-family: arial;
		}
		.main li:hover {
			box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
		}

		/*底部*/
		footer {
			height: 200px;
			margin-top: 100px;
			/*box-sizing: border-box;*/
			padding-top: 1px;
		}
		.foot {
			margin: 0 auto;
			margin-top: 120px;
		}
		.foot h3 {
			width: 100px;
			margin: 0 auto;
			font-weight: 600;
		}
		.foot p {
			width: 260px;
			margin: 0 auto;
		}